.comment {
    margin-top: 20px;
    margin-left: 2px;
    padding-left: 7px;
    animation: fadeIn 300ms ease-in-out 1;
}
.comment__date-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 10px;
}


.comment__text {
    margin: 0;
    margin-bottom: 10px;
    word-wrap: break-word;
    font-size: 17px;
    /* white-space: pre-line; */
}

.comment__date {
    color: #A5ADBA;
    font-size: 14px;    
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}