.item {
    padding: 20px;
    min-height: 60px;
    background: salmon;
    color: white;
    cursor: pointer;
    transition: transform 200ms ease-in-out, opacity 200ms ease-in;
    border-radius: 5px;
    font-size: 20px;
}

.item--over {
    transform: scale(0.9);
    opacity: 0.5;
}

.item--dropped {
    animation: drop 200ms ease-in-out forwards;
}

@keyframes drop {
    0% {
        transform: scale(0.9);
        opacity: 0.5;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}