.modal-mask {
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.205);
    overflow-y: auto;
    padding-top: 12%;
}

.modal-content {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: white;
    width: 600px;
    min-height: 350px;
    padding: 30px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.modal-content--details {
	background-color: white;
	width: 700px;
	min-height: 350px;
	padding: 30px;
	border-radius: 5px;
	margin: 0 auto;
    margin-bottom: 30px;
    box-shadow: rgba(0, 0, 0, 0.3);
}

/* .modal-content__info {
    padding-left: 10px;
} */

.modal-content__title {
    margin: 0;
    word-wrap: break-word;
    margin-bottom: 7px;
}

.modal-content__date {
    color: #A5ADBA;
    font-size: 20px;
}

.comments-container {
    margin-top: 50px;
}

.comments-container__header {
    display: flex;
    justify-content: space-between;
    font-size: 25px;
}

#comment-form {
    display: flex;
    flex-direction: column;
}

#comment-form textarea {
    resize: none;
    border: none;
    border: 2px solid;
    border-radius: 3px;
    margin: 20px 0 10px 0;
    height: 90px;
    padding: 10px;
}

#comment-form button {
    max-width: 90px;
    border: none;
    color: white;
    font-size: 15px;
    padding: 5px;
    border-radius: 3px;
}