#trash-option-container {
    margin-right: 18px;
}

.option--trash {
    display: none;
    transition: color 200ms ease-in-out;
}

.option--trash--over {
    color: #ff5630;
}

.link-button {
    margin-right: 15px;
    cursor: pointer;
}